<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="My website!" />
	<meta name="author" content="Jordan Levy" />
	<title>Jordan Writes</title>
	<link rel="stylesheet" href="{% static 'css/site_wide.css' %}">
	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
	<script src="{% static 'js/header.js' %}"></script>
</head>
<body>

	{% include 'header.html' %}

	<div class="content">
		<h2>Uh oh!<h2>
		<p>You got to the wrong page!<p>
	</div>

{% include 'footer.html' %}

</body>
</html>
