<head>
{% load staticfiles %}
</head>

<div class="header">
	<div id="base">
		<nav id="navbar">
			<h1>JordanWrites</h1>
			<ul>
				<a href="{% url 'index' %}"><li id="home-link">Home</li></a>
				<a href="{% url 'post_list' %}"><li id="blog-link">Blog</li></a>
				<a href="{% url 'story_list' %}"><li id="stories-link">Stories</li></a>
				<a href="{% url 'poem_list' %}"><li id="poems-link">Poetry</li></a>
				<span title="Coming Soon!"><li id="reviews-link">Reviews</li></span>
				<!-- <span title="Can you tell I that like Montaigne?"><a href="{% url 'essays' %}"><li id="essays-link">Essays</li></a></span> -->
			</ul>
		</nav>
	</div>
	<div id="author-window">
		<img src="{% static 'images/silhouette.jpg' %}" alt="me!"/>
		<ul>
			<a href="{% url 'about' %}"/><li>About Me</li></a>
			<a href="{% url 'contact' %}"/><li>Contact</li></a>
		</ul>
	</div>
</div>