<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="My website!" />
	<meta name="author" content="Jordan Levy" />
	<title>Jordan Writes</title>
	<link rel="stylesheet" href="{% static 'css/site_wide.css' %}">
	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
	<script src="{% static 'js/header.js' %}"></script>
</head>
<body>

	{% include 'header.html' %}

	<div class="intro">
		<h2>About Me</h2>
		<p>Hi!</p>
		<p>I am a 22 year old student currently living in California. I have spent most of my life in the USA, but I travel as much as I can, having now been to six other countries and a handful of states. Besides just traveling, I have studied abroad in two countries (Israel and Australia) and lived in two other states (Florida and New York).</p>
		<p>I am presently a student at the California Polytechnic State University in San Luis Obispo (Cal Poly SLO). I am a Computer Science major with an English minor. I am finishing my fourth year and expect to graduate in December of 2018.</p>
		<p>My hobbies are (mostly) gaming, hiking, and writing. My Steam library currently contains 123 games, I have 4 consoles (PS2, Xbox 360, Wii, DS--you can probably tell when I became a PC gamer), I am learning the ways of DMing for D&D, and I have burgeoning board game collection. I don't have a list of hiking equipment or anything, but I am blessed to have grown up in California, live in a mountainous region, and have the privilege to have visited New Zealand. I am relatively new to writing, having only completed a couple of stories, but I am preparing to publish them on this site after some more technical development.</p>
		<p>I am a fairly political person and seem to have opinions on most issues. On the <a href="https://www.politicalcompass.org/">Political Compass</a>, I am close to the center on the left-libertarian box. I openly detest the US government and President Trump and seek to expatriate upon graduation. I am Jewish and somewhat practising--just wrapped tefillin the day before authoring this. I am a vegetarian and a pacifist.</p>
		<p>My favorite animal is the majestic goat. I have lived on (what amounts to) a farm with half a dozen goats and even took a goat class at Cal Poly. I have been on both Ultimate Frisbee and Fencing teams. My personal library in SLO has over 100 books, and I've read less than half of them. I dabble with playing bass guitar, ukulele, and piano, being self-taught on the latter two. I memorized 141 digits of pi for a contest in middle school and never forgot them. I built my desktop computer in high school and was briefly an Electrical Engineering major before switching to CS. Community is my favorite TV show. The best book I read last year was Mrs. Dalloway. I am at a net loss in crypto-currency purchases. If you are somehow still interested in random facts about me, shoot me an email or a message and I'll add even more.</p>
	</div>

	{% include 'footer.html' %}

</body>
</html>
