<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="My website!" />
    <meta name="author" content="Jordan Levy" />
    <title>Jordan Writes</title>
    <link rel="stylesheet" href="{% static 'css/site_wide.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <script src="{% static 'js/header.js' %}"></script>
</head>
<body>

    {% include 'header.html' %}

    <div class="content">
        <h2>Contact Me</h2>
        <p>Here are some social media platforms you can reach me on. You can also <a href="mailto:jordanlevy96+website@gmail.com">email me</a> if you so please.</p>

        <h3>Facebook</h3>
        <p>I find Facebook great for messaging and sharing memes, and don't do much else on there.</p>
        <a href="http://www.facebook.com/Jordan.X.Levy">Bonus points if you send me a dank meme.</a>

        <h3>Reddit</h3>
        <p>Ha! Just kidding.</p>

        <h3>LinkedIn</h3>
        <p>This is my professional side. I am particularly interested in game development and full-stack web development, and I've dabbled in other software disciplines through my studies. I am also interested in writing, editing, and design.</p>
        <a href="https://www.linkedin.com/in/jordan-levy-704952a2/">Professional development, woo!</a>

        <h3>GitHub</h3>
        <p>I'm not sure if GitHub really counts as social media, but I wanted to include it here anyway. Unfortunately, some of my coolest projects must be private.</p>
        <a href="https://github.com/jordanlevy96">If you look closely at my commits, you can tell when my some of deadlines were!</a>
    </div>

    {% include 'footer.html' %}

</body>
</html>
