<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="My website!" />
	<meta name="author" content="Jordan Levy" />
	<title>Jordan Writes</title>
	<link rel="stylesheet" href="{% static 'css/site_wide.css' %}">
	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
	<script src="{% static 'js/header.js' %}"></script>
</head>
<body>

	{% include 'header.html' %}

	<div class="intro">
		<h2>Hello, World!</h2>
		<p>This has been a labor of love that I began in the Summer of 2016. One day, I hope this site can serve the purpose that Michel de Montaigne's collection of essays intended for him: opening up for the world to see.</p>
		<p>A sort of modern, living autobiography.</p>
		<p>This site serves as a window into my life. It will be filled with stories of my travels, my take on social and political issues, philosophy, reviews, references, programming projects; truly whatever I want the world to see.</p>
		<p>In Montaigne's words: "I want to be seen here in my simple, natural, ordinary fashion, without straining or artifice; for it is myself that I portray."</p>
	</div>

{% include 'footer.html' %}

</body>
</html>
