<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="blog post list" />
	<meta name="author" content="Jordan Levy" />
	<title>Titles Are Hard</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
	<div class="header">
		<h1>(Working Title)</h1>
	</div>

	{% if user.is_authenticated %}
		<div class="admin-button">
			<p><a href="{% url 'post_new' %}">New Post</a></p>
		</div>
	{% endif %}

	<div class="content">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>

</body>
</html>
