/*
	stylesheet for homepage
	not much content, so not much to style
*/

h1 {
	font-size: 3em;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
}

h2 {
	font-size: 2em;
	text-decoration: none;
}

.intro {
	margin-left: 0.5em;
}