/*
	stylesheet for homepage
	this is the first thing you see, make it pretty!
*/

h1 {
	font-size: 3em;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
}

h2 {
	font-size: 2em;
	text-decoration: none;
}

.intro {
	margin-left: 0.5em;
}